body, html, .input-panel, .visual-aid, .submit-rings-button, .submit-rings, .help-pop-up {
    height: 100%;
}
.submit-rings, .start, .input-panel, .visual-aid, .canvas, .submit-rings-button, .help-button {
    width: 100%;
}

h1, .exterior, .interior, .segments, .overlap, .new-ring, .start, .input-panel, .visual-aid, .submit-rings, .help {
    text-align: center;
}

body, html {
    margin: 0%;
    background-image: url('assets/CurvyWood.jpg');
}

h1, h2 { font-family: impact; }

p, label, .submit-rings-button, .new-ring, input{
    font-family: tahoma;
}

.submit-rings-button, .help-button, .start-link, .input-panel, .visual-aid, .help-pop-up, table, .print-page {
    background-color: rgba(253, 253, 234, 0.9);
    border: outset;
    border-width: 2px;
    border-radius: 5px;
    border-color:  rgba(140, 120, 65, 0.5)!important;
    opacity: 0.93;
}

.start-link:hover, .submit-rings-button:hover, .help-button:hover, .new-ring:hover, .remove:hover, .close-pop-up:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.336);
    text-shadow: 2px 2px 0.5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.exterior, .interior, .segments, .overlap, .new-ring {
    background-image: url('assets/CurvyWood.jpg');
    border: inset;
    border-width: 2px;
    border-color:  rgba(140, 120, 65, 0.5);
    border-radius: 5px;
    height: 50%;
    width: 50%;
    justify-self: center;
} 

.exterior-ring {
    background-image: url('assets/CurvyWood.jpg');
    background-color: rgba(0,0,0,-10);
    border: inset;
    border-width: 2px;
    height: 16px;
    border-color:  rgba(140, 120, 65, 0.5);
}

.canvas, h2, p, .remove { margin-left: 20px; }

.close-pop-up { float: right; }

.help-pop-up, .print-page { overflow: auto; }

h2 { font-size: 50px; }

p, .start, .help-pop-up, .close-pop-up, .print-page { 
    margin: 20px;
}

table {
    text-align: center;
    margin: auto;
}

h1 {
    align-self: center;
    font-size: 45px;
}

.creation-panel {
    display: grid;
    grid-template-rows: 2% 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'h1 visual-aid'
    'left right' 
    'helpButton right' 
    'submit right';
    grid-gap: 20px;
    padding: 20px;
    height: 95%;
}

.input-panel {
    grid-area: left;
    display: grid;
    grid-template-rows: 4% auto 4% auto 4% auto 4%;
    grid-template-areas: 
    'ext-label''ext'
    'int-label''int'
    'seg-label''seg'
    'overlap-label''overlap'
    'new-ring';
}

/* Grid Areas */
.input-title{ grid-area: h1; }
.visual-aid-title { grid-area: visual-aid;}
.exterior-label { grid-area: ext-label }
.interior-label { grid-area: int-label }
.segments-label { grid-area: seg-label }
.overlap-label { grid-area: overlap-label }
.exterior { grid-area: ext }
.interior { grid-area: int }
.segments { grid-area: seg }
.overlap { grid-area: overlap }
.live-ring { grid-area: liveRing; }
.submit-rings { grid-area: submit; }
.help { grid-area: helpButton; } 
/* Grid Areas */

.visual-aid {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 'liveRing' 'canvas';
    grid-area: right;
    align-items: end;
}

.canvas {
    position: relative;
    grid-area: 'canvas';
    overflow: auto;
    margin: 10vh auto;
    height: 85%;
}

canvas {
    margin: 5px;
}

.null-remove { display: none; }

.remove {
    position: relative;
    display: inline-flex;
    float: left;
    top: -40px;
}

.ring, .live-ring, .remove, .interior-ring, .live-view, .int-live-view {
    height: 20px;
}

.exterior-ring, .interior-ring, .live-view, .int-live-view {
    position: relative;
    margin: auto;
}
.int-live-view{
    z-index: 4;
    background-color: rgba(144, 238, 144, 0.5);  
}
.live-view { background-color:rgba(135, 206, 250, 0.8); }

.interior-ring {
    top: -20px;
    z-index: 4;
    background-color: rgba(144, 238, 144, 0.5);
}

.submit-rings, .help { position: relative; }

.submit-rings-button, .help-button {
    margin: auto;
    font-size: 150%;
}

@media screen and (max-width: 700px) {
    .creation-panel {
        height: 100%;
        grid-gap: 2%;
        grid-template-rows: 5% 5% 30% 5% 45% 5%;
        grid-template-columns: 100%;
        grid-template-areas:
        'helpButton' 
        'h1'
        'left'
        'visual-aid'
        'right'
        'submit';
    }
    .input-panel {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
        grid-template-areas: 
        'ext-label ext'
        'int-label int'
        'seg-label seg'
        'overlap-label overlap'
        'new-ring new-ring';
        align-items: center;
    }
    
    .submit-rings, .help{ position: relative; }
    .live-ring { margin-top: 1vh; }

    .canvas { top: 60px;}

    .new-ring {
        align-self: center !important;
        width: 80% !important;
        height: 50%;
        margin-bottom: 10px !important;
    }
}

@media screen and (max-height: 500px) {
    .creation-panel {
        height: 100%;
        grid-gap: 2%;
        grid-template-rows: 10% 5% 45% 5% 50% 10%;
        grid-template-columns: 100%;
        grid-template-areas:
        'helpButton' 
        'h1'
        'left'
        'visual-aid'
        'right'
        'submit';
    }
    .input-panel {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
        grid-template-areas: 
        'ext-label ext'
        'int-label int'
        'seg-label seg'
        'overlap-label overlap'
        'new-ring new-ring';
        align-items: center;
    }

    h1 { font-size: 20px;}
    .live-ring { margin-top: 2vh; }

    .canvas { top: 30px;}

    .new-ring {
        align-self: center !important;
        width: 80% !important;
        height: 50%;
        margin-bottom: 10px !important;
    }
}