body, html {
    height: 100%;
    margin: 0%;
}

label {
    font-family: tahoma;
}

/* Panel Titles */
h1 {
    font-family: impact;
    align-self: center;
    text-align: center;
    margin: 0;
}

.input-title{
    grid-area: h1;
}
.visual-aid-title {
    grid-area: visual-aid;
}
/* Panel Title End */

/* Creation Panel */
.creation-panel {
    display: grid;
    grid-template-rows: 5% 2fr 0%;
    grid-template-areas: 
    'h1 visual-aid visual-aid visual-aid'
    'left right right right';
    grid-gap: 20px;
    padding: 20px 20px 0 20px;
    height: 90%;
    background-color: lightcyan;
}

@media screen and (max-width: 600px) {
    .creation-panel {
        grid-template-rows: 2% 4fr 2% 7fr;
        grid-template-areas: 
        'h1'
        'left'
        'visual-aid'
        'right';
    }
    .exterior, .interior, .segments, .overlap, .new-ring {
        justify-self: center;
        width: 50%;
    } 
  }

.input-panel, .visual-aid {
    margin: auto;
    background-color: lightcoral;
    height: 100%;
    width: 100%;
    text-align: center;
}

.input-panel {
    grid-area: left;
    display: grid;
    grid-template-areas: 
    'ext-label''ext'
    'int-label''int'
    'seg-label''seg'
    'overlap-label''overlap'
    'new-ring';
    align-items: end;
}

/* Inputs */
.exterior-label { grid-area: ext-label }
.interior-label { grid-area: int-label }
.segments-label { grid-area: seg-label }
.overlap-label { grid-area: overlap-label }
.exterior { grid-area: ext }
.interior { grid-area: int }
.segments { grid-area: seg }
.overlap { grid-area: overlap }

.exterior, .interior, .segments, .overlap, .new-ring {
    align-self: stretch;
    margin: 1% 10%;
    border-color: rgba(0,0,0,0);
    border-radius: 5px;
    text-align: center;
} 

.new-ring {
    height: 80%;
    width: 70%;
    align-self: center;
    margin: auto;
}

.new-ring:hover {
    border-color: black;
}

/* Visual Aid */
.visual-aid {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: 'liveRing' 'canvas';
    z-index: 0;
    grid-area: right;
    align-items: end;
}

.canvas {
    position: absolute;
    grid-area: 'canvas';
    overflow: auto;
    margin: 2vh auto;
    height: 85%;
    width: 100%;
    align-self: end;
}

.null-remove {
    display: none;
}

.remove {
    position: relative;
    display: inline-flex;
    z-index: 5;
    float: left;
    top: -40px;
    margin-left: 20px;
    height: 20px;
}

.remove:hover {
    border-color: black;
}
.live-ring {
    grid-area: liveRing;
}
.ring, .live-ring {
    height: 20px;
}
.ring:hover {
    border-color: black;
}
.exterior-ring, .interior-ring, .live-view, .int-live-view {
    position: relative;
    margin: auto;
    height: 20px;
}
.int-live-view{
    z-index: 6;
    background-color: lightgreen;  
}
.live-view {
    z-index: 5;
    background-color:lightskyblue;
}
.interior-ring {
    top: -20px;
    z-index: 4;
    background-color: rgb(80, 160, 80);
}
.exterior-ring{
    z-index: 2;
    background-color: rgb(100, 175, 190)
}
/* Visusal Aid End */
/* Creation Panel End */

.submit-rings {
    position: relative;
    top: -2%;
    display: grid;
    grid-template-areas: 'submit';
    height: 10%;
    width: 100%;
    text-align: center;
    background-color: lightcyan;
}
.submit-rings-button {
    grid-area: submit;
    height: 70%;
    width: 80%;
    align-self: center;
    justify-self: center;
    border-color:  rgba(0,0,0,0);
    border-radius: 5px;
    background-color: lightcoral;
    font-family: tahoma;
    
}
.submit-rings-button:hover {
    background-color: lightcyan;
    color: lightcoral;
    border-color: lightcoral;
}

.blueprint {
    background-color:lightpink;
}
